@model IEnumerable<PatientDivisionVisitsSummary>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.HN)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th class="d-none d-md-table-cell">
          @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th class="d-none d-md-table-cell">
          @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th class="d-none d-md-table-cell">
          @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th class="d-none d-md-table-cell">
          @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.AN)
        </th>

        <th class="text-center">
          @Html.DisplayNameFor(model => model.WardPre)
        </th>
        <th class="text-center">
          @Html.DisplayNameFor(model => model.Opd)
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        var classWardPre = item.WardPre > 0 ? "btn-outline-warning" : "btn-light";
        var classOpd = item.Opd > 0 ? "btn-outline-info" : "btn-light";
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.HN)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.LastName)
          </td>
          <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.Birthdate)
          </td>
          <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.Sex)
          </td>
          <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.Phone)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.AN)
          </td>

          <td class="text-center">
            @if (item.WardPre == 0)
            {
              <a asp-controller="LogBook"
                 asp-action="Create_WardPre"
                 asp-route-an="@item.AN"
                 class="btn @classWardPre btn-sm btn-block">
                N/A
              </a>

            }
            else
            {
              <a asp-controller="LogBook"
                 asp-action="Details_WardPre"
                 asp-route-an="@item.AN"
                 class="btn @classWardPre btn-sm btn-block">
                @item.WardPre
              </a>
            }
          </td>
          <td class="text-center">
            <a asp-controller="LogBook"
               asp-action="Create_Opd"
               asp-route-an="@item.AN"
               class="btn @classOpd btn-sm btn-block">
              @(item.Opd == 0 ? "N/A" : item.Opd.ToString())
            </a>
          </td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>

</div>